<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.web>
    <customErrors mode="off" />
  </system.web>
  <system.webServer>
    <security>
      <requestFiltering removeServerHeader="true" />
    </security>
    <httpProtocol>
      <customHeaders>
        <!-- <add name="Content-Security-Policy" value="default-src 'none'; script-src https: 'self' 'unsafe-eval' cdnjs.cloudflare.com maxcdn.bootstrapcdn.com; img-src *; style-src 'self' cdnjs.cloudflare.com maxcdn.bootstrapcdn.com; connect-src 'self' {{webApiHost}} wss://{{webApiHost}} {{identityServerHost}} dc.services.visualstudio.com; font-src 'self' maxcdn.bootstrapcdn.com; frame-src {{identityServerHost}}" /><add name="X-Content-Type-Options" value="NOSNIFF" /><add name="X-Frame-Options" value="DENY" /><add name="X-Permitted-Cross-Domain-Policies" value="master-only"/><add name="X-XSS-Protection" value="1; mode=block"/><add name="Referrer-Policy" value="strict-origin" /><add name="Strict-Transport-Security" value="max-age=31536000" /> -->
        <remove name="X-Powered-By"/>
      </customHeaders>
    </httpProtocol>
    <caching enabled="true" enableKernelCache="true" maxCacheSize="1000" maxResponseSize="512000"/>
    <rewrite>
      <rules>
        <remove name="ReactJS Conditions" />
        <!--
          ## Enable this when is root app "/":
        -->

        <!-- <rule name="gic.grundfos.com to isolutionscloud.grundfos.com" stopProcessing="true">
          <match url=".*" />
          <conditions>
            <add input="{HTTP_HOST}" pattern="(gic\.grundfos\.com)" />
          </conditions>
          <action type="Redirect" url="https://isolutionscloud.grundfos.com/{R:0}" />
        </rule>
        <rule name="Redirect to HTTPS" stopProcessing="true">
          <match url="(.*)" />
          <conditions>
            <add input="{HTTPS}" pattern="^OFF$" />
          </conditions>
          <action type="Redirect" url="https://{HTTP_HOST}/{R:1}" redirectType="Permanent" />
        </rule>
        <rule name="ReactJS Conditions" stopProcessing="true">
          <match url="(app/.*|icons.*|assets/.*|config/.*|appcache/.*|.*\.png|.*\.xml|.*\.json|.*\.ico|ipump/.*|wwnc/.*|ams/.*|grm/.*)" negate="true"/>
          <action type="Rewrite" url="index.html" />
        </rule> -->

        <!--
          ## Enable this when is subdir app "/subdir":
        -->
        <rule name="ReactJS Conditions" stopProcessing="true">
          <match url="(app/.*|icons.*|assets/.*|config/.*|appcache/.*|.*\.js|.*\.css|.*\.png|.*\.xml|.*\.json|.*\.ico)" negate="true"/>
          <action type="Rewrite" url="index.html" />
        </rule>
      </rules>
    </rewrite>
    <httpErrors existingResponse="PassThrough" />
    <iisnode watchedFiles="web.config;*.js;*.html;*.css"/>
    <staticContent>
      <remove fileExtension=".woff" />
      <remove fileExtension=".woff2" />
      <mimeMap fileExtension=".woff" mimeType="font/woff" />
      <mimeMap fileExtension=".woff2" mimeType="font/woff2" />
      <remove fileExtension=".json" />
      <mimeMap fileExtension=".json" mimeType="application/json" />
    </staticContent>
  </system.webServer>
</configuration>